<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\inetpub\wwwroot\Fees</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/ClubManagerOnline.dll">
      <publishTime>04/19/2012 19:04:30</publishTime>
    </File>
    <File Include="bin/ClubManagerOnline.pdb">
      <publishTime>04/19/2012 19:04:30</publishTime>
    </File>
    <File Include="bin/Data.sdf">
      <publishTime>02/25/2012 14:28:53</publishTime>
    </File>
    <File Include="bin/DataModule.ClubManager.dll">
      <publishTime>04/17/2012 21:56:32</publishTime>
    </File>
    <File Include="bin/DataModule.ClubManager.pdb">
      <publishTime>04/17/2012 21:56:32</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>09/15/2011 15:13:08</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>09/15/2011 15:13:10</publishTime>
    </File>
    <File Include="bin/Microsoft.ServiceModel.DomainServices.EntityFramework.dll">
      <publishTime>09/15/2011 15:13:10</publishTime>
    </File>
    <File Include="bin/Microsoft.ServiceModel.DomainServices.Hosting.dll">
      <publishTime>09/15/2011 15:13:10</publishTime>
    </File>
    <File Include="Data.sdf">
      <publishTime>02/25/2012 14:28:53</publishTime>
    </File>
    <File Include="fees.htm">
      <publishTime>03/12/2012 21:32:13</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>03/08/2012 22:03:02</publishTime>
    </File>
    <File Include="Images/hdflogo.png">
      <publishTime>03/10/2012 20:32:45</publishTime>
    </File>
    <File Include="Images/img01.jpg">
      <publishTime>08/03/2012 11:57:00</publishTime>
    </File>
    <File Include="Images/img02.jpg">
      <publishTime>03/12/2012 20:23:23</publishTime>
    </File>
    <File Include="index.html">
      <publishTime>03/12/2012 20:47:38</publishTime>
    </File>
    <File Include="Scripts/jquery.disable.js">
      <publishTime>09/15/2011 15:13:10</publishTime>
    </File>
    <File Include="Scripts/jquery.render.js">
      <publishTime>09/15/2011 15:13:10</publishTime>
    </File>
    <File Include="Scripts/jquery.views.js">
      <publishTime>09/15/2011 15:13:10</publishTime>
    </File>
    <File Include="Scripts/ria.js">
      <publishTime>09/15/2011 15:13:10</publishTime>
    </File>
    <File Include="Scripts/ria.min.js">
      <publishTime>09/15/2011 15:13:10</publishTime>
    </File>
    <File Include="Styles/Buttons.css">
      <publishTime>03/10/2012 20:37:20</publishTime>
    </File>
    <File Include="Styles/Layout.css">
      <publishTime>03/12/2012 21:02:49</publishTime>
    </File>
    <File Include="Styles/Tables.css">
      <publishTime>03/12/2012 21:29:28</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>04/19/2012 19:04:31</publishTime>
    </File>
  </ItemGroup>
</Project>